
/*=============================================
=            header            =
=============================================*/
.header{
    display: flex;
    flex-direction: column;
    width:100%;
    align-items: center;
    justify-content: flex-start;
    margin-top:200px;
    .title{
        justify-content: left;
        padding-bottom:60px;
        width:75%;
    }
    .header-content{
        flex: row;
    }
    .equals{
        font-size:20px;
        margin-top:35px;
    }
    input,select{
        min-width: 100px;
    }
    .select{
         legend{
             display:none;
         }
         height:40px;
         width:200px;
         margin-top:10px
    }
    .input-child{
        display:flex;
        flex-direction:column;
    }
    span{
        color:grey;
    }
    .text-field{
        border-radius:10px !important;
        height:100px;
        legend{
            display:none;
        }
    }
}




/*=====  End of header  ======*/