@import '../0-base/variables';

/*=============================================
=            Button            =
=============================================*/

.save-button{
    color:white;
    background-color: $green !important;
    height:40px;
    box-shadow: none !important;
    margin-top:30px !important;
    width:80px !important;
}

/*=====  End of Button  ======*/