
/*=============================================
=            Inputs            =
=============================================*/

.input{
    border:1px solid $grey;
    background-color:$white;
    padding:7px 15px;
    border-radius:8px;
}

/*=====  End of Inputs  ======*/