// Font Family
$font-family-name: "Roboto", sans-serif;
$heading-font-family-name: "Roboto", sans-serif;
$poppins: "Poppins", sans-serif;

// Colors
$blue: #1b31a8;
$green: #4acd5e;
$grey: #cecdcd;
$white: #ffffff;
$black: #000000;

// Body Text
$body-text-color: #1d1d25;
$body-font-weight: 400;
$body-line-height: 1.66;
$body-font-size: 15px;
$body-bg-color: $white;

// Heading Text
$heading-text-color: #1d1d25;
$heading-font-weight: 700;

// Responsive Variables
$laptop-device: "only screen and (min-width: 1200px) and (max-width: 1499px)";
$desktop-device: "only screen and (min-width: 992px) and (max-width: 1199px)";
$tablet-device: "only screen and (min-width: 768px) and (max-width: 991px)";
$large-mobile: "only screen and (max-width: 767px)";
$small-mobile: "only screen and (max-width: 575px)";
$extra-small-mobile: "only screen and (max-width: 479px)";
